* {
  text-decoration: none;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  height: 1000px;
}

#main {
  position: relative;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.862);
  line-height: 44px;
  position: fixed;
  width: 100%;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  z-index: 2;
}

.navbar-nav {
  margin: 0px 200px;
  line-height: 44px;
}

.nav-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.nav-list .nav-item {
  padding: 0 10px;
}

.nav-list .nav-item .nav-link {
  color: #c6c6ce;
  font-size: 16px;
}
li a > i {
  font-size: 16px;
}

.nav-list .nav-item .nav-link:hover {
  color: #f5f5f7;
}

#section-mess {
  width: 100%;
  position: relative;
  top: 45px;
  text-align: center;
  padding: 3px 0;
  background-color: #f5f5f8;
}

.section-content {
  padding: 12px 20px;
  color: #1d1d1f;
  /* background-color: #f5f5f8; */
}

.section-content a {
  color: #0066cc;
}

#section-collection {
  position: relative;
  top: 85px;
  display: block;
  width: 100%;
  height: 580px;
}
.container-link {
  margin-top: -40px;
  height: inherit;
}
.container-link .link-bgr {
  display: block;
  height: inherit;
}
.container-content {
  padding-top: 47px;
  margin-top: -580px;
  position: relative;
  z-index: 1;
}
.container-content > a {
  display: block;
  height: inherit;
  text-align: center;
}
.container-content .link-title{
  font-size: 56px;
  font-weight: 600px;
  color: rgb(29, 29, 31);
}
.container-content .link-slogan{
  font-size: 28px;
  font-weight: bold;
  color: rgb(29, 29, 31);
  padding-top: 20px;
  letter-spacing: 0.112px;
  /* line-height: 31px; */
}
.container-content .link-pay1{
  font-size: 17px;
  font-weight: 350px;
  color: rgb(29, 29, 31);
  opacity: 0.8;
  padding-top: 30px;
}
.container-content .link-pay{
  font-size: 17px;
  font-weight: 350px;
  color: rgb(29, 29, 31);
  opacity: 0.8;
  padding-top: 10px;
}
.container-content .content-dif {
  text-align: center;
  margin-top: 30px;
}
.content-dif a:first-child{
  display: inline;
  color: rgb(0, 102, 204);
  font-size: 19px;
  padding-right: 20px;

}
.content-dif a:last-child{
  display: inline;
  color: rgb(0, 102, 204);
  font-size: 19px;
  margin-left: 32px;
}
a > i {
  font-size: 10px;
}

.container-img img{
  width: 100%;
  height: 580px;
  margin-top: -275px;
  position: absolute;
  z-index: -1;
}
.container-iphone-pro{
  margin-top: 100px;
}
.container-content-pro{
  margin-top: -590px;
  padding-top: 44px;
}
.container-content-pro a { 
  display: block;
  text-align: center;
  position: absolute;
  z-index: 3;
  color: #f5f5f8;
}
.container-content-pro > a.link-title{
  font-size: 56px;
  color:rgb(134, 134, 139);
}
.container-content-pro > a.link-slogan{
  font-size: 24px;
  margin-top: 13px;
}
.container-content-pro > a.link-pay1{
  font-size: 16px;
  margin-top: 13px;
}
.container-content-pro > a.link-pay{
  font-size: 16px;
  margin-top: 6.8px;
}
.content-dif-pro{
  text-align: center;
  margin-top: 13px;
  font-size: 24px;
}
.content-dif-pro a:last-child{
  margin-left: 10px;
}
.content-dif-pro > a{
  display: inline-block;
  /* color:rgb(134, 134, 139); */
}
.container-iphone-pro a{
  position: relative;
  z-index: -1;
}
.container-iphone-pro a > img {
  width: 100%;
  height: 590px;
}


/*# sourceMappingURL=style.css.map */
