*{
    text-decoration: none;
}
body{
    font-family: "Source Sans Pro", sans-serif;
}
.navbar{
    background-color: #1d1d1f;
}
.navbar-nav{
    margin: 0px 200px;
    line-height: 44px;
    background-color: #1d1d1f;
}
.nav-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .nav-item{
        padding: ;
        .nav-link{
            color: #c6c6ce;
        }
        .nav-link:hover{
            color: #f5f5f7;
        }
    }
}