*{
    text-decoration: none;
    color: black;
    font-family: sf;
}
.nav-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .nav-item{
        align-items: center;
    }
}