*{
    text-decoration: none;
    color: black;
}
@font-face {
  font-family: "SF Display";
  font-weight: 900;
  src: url("https://sf.abarba.me/SF-UI-Display-Black.otf");
}
.nav-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .nav-item{
        align-items: center;
    }
}